.menus{
    display: flex;
    justify-content: space-around;
    border: solid #ccc;
    border-width: 0 0 1px 0;
    overflow-x: hidden;

    &__item {
        display: flex;
        color: #8A8A8A;
        align-items: center;
        margin: 20px 0 10px 0;
        height: 27px;


        & a {
            margin-left: 15px;
        }
    }

    &__item:hover {
        cursor: pointer;
        color: #fff;
        transition: 0.2s;
    }
}

.menus:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.ativo {
    color: #fff;  
}

.disable{
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .menus{
        &__item{
            font-size: 0.8rem;

            & a img {
                width: 1.2rem;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .menus{
        position: absolute;
        width: 100vw;
        left: 0;
        z-index: 100;
    }
}