@import "/src/styles/variaveis";

.sobreMim{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: $fundoPrincipal;
    width: 50vw;
    height: 100vh;

    &__box{
        width: 25rem;

        & p {
            margin-top: 10px;
        }

        &__funcao{
            font-weight: bold;
        }
    }
}

.blinkingCursor{
    font-weight: 100;
    font-size: 2rem;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: var(--branco)
    }
  }