.portfolio{
    display: flex;
    overflow-x: hidden;
    height: 90vh;

    &__repositorios{
        display: block;
        height: 150px;
        margin: 0 10px;

        &__nome{
            text-align: center;
            font-weight: bold;
        }

        & div{
            margin: 6rem 0 0 3rem;

            & p {
                overflow-wrap: break-word;
                width: 150px;
                margin: 0;
                background-color: rgb(233, 164, 108);
            }
        }
    }

    &__repositorios:hover{
        & div {
            transition: all 0.5s;
            margin: 0;
        }
    }
}