@import '/src/styles/variaveis';

.curriculo{
    display: flex;
    &__complementos {
        width: 50vw;
        height: 100vh;
        background-color: $fundoComplementos;
    }
}

@media screen and (max-width: 425px) {
    .curriculo{
        &__complementos{
            position: absolute;
            width: 100vw;
        }
    }
}